version: '3.8'
services:
  mongodb:
    image: mongo:6
    container_name: nosql-mongo-lab3
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=example
    volumes:
      - ./mongo-data:/data/db
      - ./restaurants.json:/restaurants.json

  mongo-express:
    image: mongo-express
    container_name: nosql-mongo-express
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=root
      - ME_CONFIG_MONGODB_ADMINPASSWORD=example
      - ME_CONFIG_MONGODB_SERVER=mongodb

    depends_on:
      - mongodb
